<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-acp" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cordova-acp</name>
    <description>ACP Plugins bundle for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova,adobe,core,acpcore,target,acptarget,analytics,acpanalytics,marketing</keywords>

    <preference name="APP_ID" value="" />

    <!-- use "ACPCore" to access the ACPCore APIs in javascript -->
    <js-module name="cordova-acpcore" src="www/ACPCore.js">
        <clobbers target="ACPCore" />
    </js-module>
    <!-- use "ACPIdentity" to access the ACPIdentity APIs in javascript -->
    <js-module name="cordova-acpidentity" src="www/ACPIdentity.js">
        <clobbers target="ACPIdentity" />
    </js-module>
    <!-- use "ACPLifecycle" to access the ACPLifecycle APIs in javascript -->
    <js-module name="cordova-acplifecycle" src="www/ACPLifecycle.js">
        <clobbers target="ACPLifecycle" />
    </js-module>
    <!-- use "ACPSignal" to access the ACPSignal APIs in javascript -->
    <js-module name="cordova-acpsignal" src="www/ACPSignal.js">
        <clobbers target="ACPSignal" />
    </js-module>
    <!-- use "ACPTarget" to access the plugin APIs in javascript -->
    <js-module name="cordova-acptarget" src="www/ACPTarget.js">
        <clobbers target="ACPTarget" />
    </js-module>
    <!-- use "ACPAnalytics" to access the plugin APIs in javascript -->
    <js-module name="cordova-acpanalytics" src="www/ACPAnalytics.js">
        <clobbers target="ACPAnalytics" />
    </js-module>

    <access origin="*" />
   <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- configure android platform -->
    <platform name="android">
      
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="AppId">$APP_ID</string>
        </config-file>
       
       
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPCore_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPCore_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPIdentity_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPIdentity_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPLifecycle_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPLifecycle_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPSignal_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPSignal_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPTarget_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPTarget_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ACPAnalytics_Cordova">
                <param name="android-package" value="com.adobe.marketing.mobile.cordova.ACPAnalytics_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <!-- add required permissions to AndroidManifest.xml -->
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

         <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service  android:name="CampaignFirebaseMessagingService" android:enabled="true" android:exported="true">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>


        <!-- plugin source -->
        <source-file src="src/android/ACPCore_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <source-file src="src/android/ACPIdentity_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <source-file src="src/android/ACPLifecycle_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <source-file src="src/android/ACPSignal_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <source-file src="src/android/ACPTarget_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <source-file src="src/android/ACPAnalytics_Cordova.java" target-dir="src/com/adobe/marketing/mobile/cordova" />
        <!-- dependencies managed through included gradle file -->
        <framework custom="true" src="src/android/ACP_Cordova.gradle" type="gradleReference" />
        <framework src="com.google.firebase:firebase-core:16.0.1" />
		<framework src="com.google.firebase:firebase-messaging:17.3.4" />
		<framework src="com.google.gms:google-services:4.3.5" />
    </platform>

    <!-- configure ios platform -->
    <platform name="ios">
    <!-- 
        <hook type="after_plugin_install" src="hooks/ios_embed_framework_hook.js"/>  
	-->
        <config-file target="*-Info.plist" parent="AppId">
            <string>$APP_ID</string>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ACPCore_Cordova">
                <param name="ios-package" value="ACPCore_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ACPIdentity_Cordova">
                <param name="ios-package" value="ACPIdentity_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ACPLifecycle_Cordova">
                <param name="ios-package" value="ACPLifecycle_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ACPSignal_Cordova">
                <param name="ios-package" value="ACPSignal_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ACPTarget_Cordova">
                <param name="ios-package" value="ACPTarget_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ACPAnalytics_Cordova">
                <param name="ios-package" value="ACPAnalytics_Cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="AppDelegate_Push">
                <param name="ios-package" value="AppDelegate_Push" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
         
        <!-- plugin source -->
        <header-file src="src/ios/AppDelegate_Push.h" />
		<source-file src="src/ios/AppDelegate_Push.m"/>
        <source-file src="src/ios/ACPCore_Cordova.m" />
        <source-file src="src/ios/ACPIdentity_Cordova.m" />
        <source-file src="src/ios/ACPLifecycle_Cordova.m" />
        <source-file src="src/ios/ACPSignal_Cordova.m" />
        <source-file src="src/ios/ACPTarget_Cordova.m" />
        <source-file src="src/ios/ACPAnalytics_Cordova.m" />
        
        <!-- dependencies -->
        <framework src="libsqlite3.dylib" />
        <framework src="SystemConfiguration.framework" />
		<framework src="ACPCore" type="podspec" spec="~> 2.7" />
		<framework src="ACPTarget" type="podspec" spec="~> 2.1" />
		<framework src="ACPAnalytics" type="podspec" spec="~> 2.4" />
		<framework src="ACPUserProfile" type="podspec" spec="~> 2.1" />
		<framework src="ACPMobileServices" type="podspec" spec="~> 1.0" />
    
        <!-- sdk source for ios managed by cocoapods -->
 
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>remote-notification</string>
			</array>
		</config-file>
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
 
    </platform>

    
</plugin>
